# rename this file -> .env

# SQLAlchemy DB_NAME

# insert database url (f.E. SQLite3 or Postgres)
DATABASE_URL=


# JWT Access Token SETTINGS

# insert random key
JWT_SECRET_KEY=
# insert JWT Algorithm (f.E. HS256)
JWT_ALGORITHM=
# insert minutes before expiry (int)
JWT_ACCESS_TOKEN_EXPIRES=


# JWT Refresh Token SETTINGS

# insert random key
JWT_REFRESH_SECRET_KEY=
# insert JWT Algorithm (f.E. HS256)
JWT_REFRESH_ALGORITHM=
# insert minutes before expiry (int)
JWT_REFRESH_TOKEN_EXPIRES=


# AES Encrypting

# insert 32 char long Secret Key (for AES Encrypting)
MESSAGE_SECRET_KEY=